@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    /* reset font-size for easy rem calculation */
    font-size: 10px;
    font-family: Lato, sans-serif;
    font-weight: 300;
}

h1 {
    font-family: 'Press Start 2P', sans-serif;
}