@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: black;
    --text: white;
}

body {
    background-color: var(--background);
    /* reset font-size for easy rem calculation */
    font-size: 10px;
    font-family: Lato, sans-serif;
    color: var(--text);
    font-weight: 300;
    text-align: center;
}

h1 {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 4rem;
}

#home-screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeIn ease 1s;
}

#home-screen h1 {
    text-align: center;
    margin-bottom: 2rem;
}

i {
    margin-bottom: 2rem;
    animation: fadeIn ease 2s;
    font-size: 1rem;
    margin: 0 10px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 3;
    }
}

.btn {
    padding: 1rem 6rem;
    font-family: 'Press Start 2P', lato;
    color: var(--text);
    background-color: var(--background);
    border: 2px solid greenyellow;
}

#start:hover {
    background-color: greenyellow;
    color: var(--background);
}

.how-to-play h2 {
    font-size: 2rem;
    margin: 2rem 1rem;
}

#instructions {
    margin-bottom: 0.5rem;
}

#instructions li {
    padding: 0.5rem;
    font-size: 1rem;
    list-style: none;
}

.controls {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}


